# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/build
/out
/explorer
/bundles
/coverage
/storybook-static

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Helm related
helm/charts/
helm/Chart.lock
